body{
    background-color: #8CC461;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bottom-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 25px;
    margin-right: 25px;
    background-color: #8CC461;
    color: white;
    border: 2px solid white;
    border-radius: 13px;
    padding: 8px 15px;
}

.extra-margin{
    margin-right: 110px;
}

.final-img{
    padding: 20px;
    margin: auto;
}

.game-images{
    position: absolute;
    margin-left: 400px;
}

.score{
    text-align: center;
    color: black;
    background-color: white;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 13px;
}


.score-value{
    font-size: 70px;
}

#final-images{
    display:block;
    margin: auto;
    width: 50%;
}

#game{
    position: relative;
}

#game-rules{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 80px;
    width: 303px;
    height: 367px;
    border-radius: 13px;
}

#game-result{
    display: grid;
    color: white;
    text-align: center;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

#hurray-txt{
    
}

#play-again-btn{
    background-color: #ffffff;
    color: #6B6B6B;
    width: 170px;
    height: 40px;
    border-radius: 9px;

}



#scoreboard{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    color: white;
    border: 2px solid white;
    border-radius: 13px;
    margin: 60px 240px;
    padding: 15px 20px;
}

#score-title{
    font-size: 40px;
}
